.elementor-4294 .elementor-element.elementor-element-bd805d6:not(.elementor-motion-effects-element-type-background),
.elementor-4294 .elementor-element.elementor-element-bd805d6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(180deg, #0f0b23, #201541);
}

.elementor-4294 .elementor-element.elementor-element-bd805d6>.elementor-container {
    max-width: 1170px;
}

.elementor-4294 .elementor-element.elementor-element-bd805d6 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 85px 15px 30px 15px;
}

.elementor-4294 .elementor-element.elementor-element-bd805d6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4294 .elementor-element.elementor-element-9418abc {
    width: auto;
    max-width: auto;
    top: -405px;
    z-index: 0;
}

body:not(.rtl) .elementor-4294 .elementor-element.elementor-element-9418abc {
    right: -365px;
}

body.rtl .elementor-4294 .elementor-element.elementor-element-9418abc {
    left: -365px;
}

.elementor-4294 .elementor-element.elementor-element-9418abc .pxl-image-single,
.elementor-4294 .elementor-element.elementor-element-9418abc .pxl-image-single img {
    animation-duration: 15000ms;
}

.elementor-4294 .elementor-element.elementor-element-9418abc .pxl-image-single {
    filter: grayscale(no);
}

.elementor-4294 .elementor-element.elementor-element-274a80b {
    z-index: 2;
}

.elementor-4294 .elementor-element.elementor-element-211eb13>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4294 .elementor-element.elementor-element-a0c4825>.elementor-widget-container {
    margin: 0px 0px 27px 0px;
}

.elementor-4294 .elementor-element.elementor-element-a0c4825 .pxl-logo img {
    height: 60px;
}

.elementor-4294 .elementor-element.elementor-element-1d49dfd>.elementor-widget-container {
    margin: 0px 0px 0px -6px;
}

.elementor-4294 .elementor-element.elementor-element-1d49dfd .pxl-text-editor {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #efeff0;
}

.elementor-4294 .elementor-element.elementor-element-4c49675>.elementor-widget-container {
    margin: 0px 0px 0px -6px;
}

.elementor-4294 .elementor-element.elementor-element-4c49675 .pxl-text-editor {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.25px;
}

.elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated {
    margin: 0px 0px 0px -5px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -5px;
}

.elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated li {
    color: #efeff0;
    line-height: 38px;
}

.elementor-4294 .elementor-element.elementor-element-b0f2fff>.elementor-widget-container {
    margin: 6px 0px 29px 0px;
}

.elementor-4294 .elementor-element.elementor-element-b0f2fff .pxl-heading .pxl-item--title {
    color: #FFFFFF;
    -webkit-text-stroke-color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 500;
}

.elementor-4294 .elementor-element.elementor-element-3be6cba>.elementor-widget-container {
    margin: 0px 0px 11px 0px;
}

.elementor-4294 .elementor-element.elementor-element-3be6cba .pxl-icon-box .pxl-item--icon i {
    font-size: 22px;
}

.elementor-4294 .elementor-element.elementor-element-3be6cba .pxl-icon-box .pxl-item--icon svg {
    height: 22px;
}

.elementor-4294 .elementor-element.elementor-element-8d9cf55 .pxl-icon-box .pxl-item--description {
    font-size: 16px;
}

.elementor-4294 .elementor-element.elementor-element-8d9cf55 .pxl-icon-box .pxl-item--icon i {
    color: #FFFFFF;
    font-size: 25px;
}

.elementor-4294 .elementor-element.elementor-element-8d9cf55 .pxl-icon-box .pxl-item--icon svg {
    stroke: #FFFFFF;
    height: 25px;
}

.elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-element-populated {
    margin: 0px 0px 0px -6px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: -6px;
}

.elementor-4294 .elementor-element.elementor-element-50a7332>.elementor-widget-container {
    margin: 5px 0px 25px 0px;
}

.elementor-4294 .elementor-element.elementor-element-50a7332 .pxl-heading .pxl-item--title {
    color: #FFFFFF;
    -webkit-text-stroke-color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 500;
}

.elementor-4294 .elementor-element.elementor-element-fa88c6a .pxl-link a:not(:hover) {
    color: #efeff0;
}

.elementor-4294 .elementor-element.elementor-element-fa88c6a .pxl-link a {
    font-size: 18px;
    font-weight: 500;
}

.elementor-4294 .elementor-element.elementor-element-fa88c6a .pxl-link.type-vertical li+li {
    margin-top: 7px;
}

.elementor-4294 .elementor-element.elementor-element-1a5cb23.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-4294 .elementor-element.elementor-element-1a5cb23>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4294 .elementor-element.elementor-element-1a5cb23>.elementor-element-populated {
    margin: 0px 0px 0px 3px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 3px;
}

.elementor-4294 .elementor-element.elementor-element-1a5cb23 {
    z-index: 1;
}

.elementor-4294 .elementor-element.elementor-element-7d487c0>.elementor-widget-container {
    margin: 5px 0px 19px 0px;
}

.elementor-4294 .elementor-element.elementor-element-7d487c0 .pxl-item--icon {
    margin-right: 18px;
}

.elementor-4294 .elementor-element.elementor-element-7d487c0 .pxl-icon-text .pxl-item--title {
    font-size: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 500;
}

.elementor-4294 .elementor-element.elementor-element-7d487c0 .pxl-icon-text .pxl-item--icon i {
    color: #FFF9F9;
    text-fill-color: #FFF9F9;
    -webkit-text-fill-color: #FFF9F9;
    background-image: none;
    font-size: 25px !important;
}

.elementor-4294 .elementor-element.elementor-element-7d487c0 .pxl-icon-text .pxl-item--icon svg {
    fill: #FFF9F9 !important;
    text-fill-color: #FFF9F9 !important;
    -webkit-text-fill-color: #FFF9F9 !important;
    background-image: none !important;
    width: 25px !important;
}

.elementor-4294 .elementor-element.elementor-element-cf82f43 {
    width: auto;
    max-width: auto;
    bottom: -90px;
}

body:not(.rtl) .elementor-4294 .elementor-element.elementor-element-cf82f43 {
    left: -555px;
}

body.rtl .elementor-4294 .elementor-element.elementor-element-cf82f43 {
    right: -555px;
}

.elementor-4294 .elementor-element.elementor-element-cf82f43 .pxl-image-single,
.elementor-4294 .elementor-element.elementor-element-cf82f43 .pxl-image-single img {
    animation-duration: 2000ms;
}

.elementor-4294 .elementor-element.elementor-element-cf82f43 .pxl-image-single {
    filter: grayscale(no);
}

.elementor-4294 .elementor-element.elementor-element-b7c52a7:not(.elementor-motion-effects-element-type-background),
.elementor-4294 .elementor-element.elementor-element-b7c52a7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0d091b;
}

.elementor-4294 .elementor-element.elementor-element-b7c52a7>.elementor-container {
    max-width: 1205px;
}

.elementor-4294 .elementor-element.elementor-element-b7c52a7 {
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4294 .elementor-element.elementor-element-b7c52a7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4294 .elementor-element.elementor-element-1044251.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-4294 .elementor-element.elementor-element-1044251>.elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-4294 .elementor-element.elementor-element-1044251>.elementor-element-populated p {
    color: #c4c3c7;
}

.elementor-4294 .elementor-element.elementor-element-1d20471 {
    width: auto;
    max-width: auto;
}

.elementor-4294 .elementor-element.elementor-element-1d20471 .pxl-text-editor {
    color: #c4c3c7;
    font-size: 16px;
    line-height: 1.5em;
}

.elementor-4294 .elementor-element.elementor-element-1d20471 .pxl-text-editor a {
    color: #c4c3c7;
    font-size: 16px;
}

.elementor-4294 .elementor-element.elementor-element-1d20471 .pxl-text-editor a:hover {
    color: #FFFFFFCC;
}

.elementor-4294 .elementor-element.elementor-element-38bbad5 {
    width: auto;
    max-width: auto;
}

.elementor-4294 .elementor-element.elementor-element-38bbad5 .pxl-text-editor {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5em;
}

.elementor-4294 .elementor-element.elementor-element-38bbad5 .pxl-text-editor a {
    color: #c4c3c7;
    font-size: 14px;
}

.elementor-4294 .elementor-element.elementor-element-38bbad5 .pxl-text-editor a:hover {
    color: #FFFFFFCC;
}

@media(max-width:1200px) {
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:1024px) {
    .elementor-4294 .elementor-element.elementor-element-274a80b {
        padding: 37px 0px 15px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated {
        margin: 0px 0px 0px 30px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 30px;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:880px) {
    .elementor-4294 .elementor-element.elementor-element-bd805d6 {
        padding: 0px 15px 0px 15px;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-4294 .elementor-element.elementor-element-274a80b {
        padding: 37px 0px 0px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-211eb13 {
        width: 50%;
    }
    .elementor-4294 .elementor-element.elementor-element-211eb13>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-1d49dfd>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-1d49dfd .pxl-text-editor .pxl-item--inner {
        max-width: 230px;
    }
    .elementor-4294 .elementor-element.elementor-element-4c49675>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-4c49675 .pxl-text-editor .pxl-item--inner {
        max-width: 230px;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd {
        width: 50%;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946 {
        width: 50%;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946>.elementor-element-populated {
        padding: 0px 0px 30px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-50a7332>.elementor-widget-container {
        margin: 0px 0px 27px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-fa88c6a .pxl-link.type-vertical li+li {
        margin-top: 15px;
    }
    .elementor-4294 .elementor-element.elementor-element-1a5cb23 {
        width: 50%;
    }
    .elementor-4294 .elementor-element.elementor-element-1a5cb23>.elementor-element-populated {
        padding: 30px 0px 0px 0px;
    }
    .elementor-4294 .elementor-element.elementor-element-1044251.elementor-column>.elementor-widget-wrap {
        justify-content: space-evenly;
    }
    .elementor-4294 .elementor-element.elementor-element-1d20471>.elementor-widget-container {
        margin: 0px 0px 10px 0px;
    }
}

@media(min-width:768px) {
    .elementor-4294 .elementor-element.elementor-element-211eb13 {
        width: 25%;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd {
        width: 25%;
    }
    .elementor-4294 .elementor-element.elementor-element-88b3946 {
        width: 25%;
    }
    .elementor-4294 .elementor-element.elementor-element-1a5cb23 {
        width: 25%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4294 .elementor-element.elementor-element-211eb13 {
        width: 32%;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd {
        width: 31%;
    }
    .elementor-4294 .elementor-element.elementor-element-1a5cb23 {
        width: 60%;
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-4294 .elementor-element.elementor-element-211eb13 {
        width: 37%;
    }
    .elementor-4294 .elementor-element.elementor-element-e3e6bfd {
        width: 30%;
    }
}

.elementor-4294 .elementor-element.elementor-element-88b3946,
.elementor-4294 .elementor-element.elementor-element-e3e6bfd,
.elementor-4294 .elementor-element.elementor-element-1a5cb23 {
    padding-top: 18px;
}